*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Poppins", sans-serif;
}
  
body {
  margin: 0;
  padding: 0;
  width: 100%;
  height: 100%;
  font-family: 'Poppins', sans-serif;
  color: #100727;
  /* background: url(../images/index_bg.jpg) no-repeat center center fixed;  */
  z-index: -1;
  backdrop-filter: blur(2px);
  position: relative;
}

/* .background {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-image: 'images/index_bg.png'; 
  background-size: cover;
  background-position: center;
  filter: blur(8px); /* Adjust the blur intensity */
  /* z-index: -1; /* Ensures it stays in the background */
/* } */

a {
  color: black; 
  text-decoration: none; 
}

a:hover {
  color: #011947;
  text-decoration: underline; 
}

/* Navigation bar */
.navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 10px 50px;
  background-color: rgb(57, 119, 205);
  background: linear-gradient(270deg,rgba(57,119,205,1)8%,rgba(0,212,255,1) 89%);
}

.navbar .logo a{   
    font-size: 32px;
    font-weight: bold;
}

.logo img{
    width: 300px; 
    height: auto; 
    max-height: 50px; 
    display: inline-block;
  }

.navbar ul {
  list-style: none;
  display: flex;
  gap: 20px;
}

.navbar ul li {
  display: inline;
}

.navbar ul li a {
  text-decoration: none;
  color: #e8e3f8;
  font-size: 20px;
  transition: 0.3s ease;
}

.navbar ul li a:hover{
  color: #270f75;
}

.navbar .nav-links {
  display: flex;
  align-items: center;
  gap: 20px;
}

.nav-links a {
  color: #fbfbfc;
  text-decoration: none;
  font-size: 15px;
}

.nav-links a:hover {
  text-decoration: underline;
}

.dropdown {
  position: relative;
  display: inline-block;
}

.dropdown .dropbtn {
  background: none;
  border: none;
  color: #fbfbfc;
  font-size: 15px;
  cursor: pointer;
}

.dropdown-content {
  display: none;
  position: absolute;
  right: 0;
  background-color: #f9f9f9;
  min-width: 160px;
  box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
  z-index: 1;
}

.dropdown-content a {
  color: black;
  padding: 10px 12px;
  text-decoration: none;
  display: block;
}

.dropdown-content a:hover {
  background-color: #f1f1f1;
}

.dropdown:hover .dropdown-content {
  display: block;
}

/* Main Container index page */
.container {
   display: flex;
   justify-content: space-between;
   align-items: center;
   max-width: 1200px;
   margin: 0 auto;
   padding: 50px 30px;
}

/* body Section - index.html */
.body-section {
  display: flex;
  justify-content: flex-start;
  block-size: auto;
  flex-direction: column;
  align-items: flex-start;
  align-content: flex-start;
  flex-wrap: nowrap;
  margin: 100px 150px 150px 50px;
}

.body-section h1 {
  font-size: 36px;
  font-weight: bold;
  margin-bottom: 20px;
}
.body-section h2{
  font-size: 20px;
  font-weight: bold;
  margin-bottom: 20px;
}

.body-section h6{
  font-size: 15px;
  margin-bottom: 20px;
  display: flex;
  flex-wrap: wrap;
}

.body-section p {
  font-size: 20px;
  margin-bottom: 30px;
}

/* Features Section */
.features-section {
  padding: 40px 0;
  background-color: #d4eefc;
}

.feature-container {
  display: flex;
  justify-content: center;
}

.feature-optn {
  padding: 10px;
  margin: 15px;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.feature-optn img {
  width: 80px;
  height: auto;
  max-height: 100px;
  display: inline-block;
}

/* Login and Sign up Page- Popup Styling */
.popup {
  display: none;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: #00000099;
  justify-content: center;
  align-items: center;
  z-index: 1000;
}

.popup:target {
  display: flex;
}

.popup-content {
  background: #ffffff;
  padding: 20px;
  border-radius: 5px;
  width: 400px;
  max-width: 90%;
  position: relative;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  text-align: center;
}

.popup .close-btn {
  position: absolute;
  top: 10px;
  right: 15px;
  cursor: pointer;
  font-size: 24px;
  text-decoration: none;
  color: #333;
}

.popup .close-btn:hover {
  color: #ff0000;
}

.popup form {
  display: flex;
  flex-direction: column;
}

.popup form input {
  margin-bottom: 10px;
  padding: 10px;
  border: 1px solid #ddd;
  border-radius: 4px;
}

.popup form button {
  margin-top: 10px;
  padding: 10px;
  background: #3977cc;
  color: white;
  border: none;
  border-radius: 4px;
  cursor: pointer;
}

.popup form button:hover {
  background: #005bb5;
}

.password-links {
  margin-top: 10px;
}

.password-links a {
  color: #000;
  text-decoration: none; 
}

.password-links a:hover {
  color: #000; 
  text-decoration: underline;
}

select {
  margin-bottom: 10px;
  padding: 10px;
  border: 1px solid #ddd;
  border-radius: 5px;
  width: 100%;
  font-size: 14px;
}

input[type="date"] {
  margin-bottom: 10px;
  padding: 10px;
  border: 1px solid #ddd;
  border-radius: 5px;
  width: 100%;
  font-size: 14px;
}

/* Account Selection Buttons */
.account-selection {
  margin-bottom: 20px;
  display: flex;
  font-size: 16px;
}

.account-selection .btn-type {
  display: inline-flex;
  flex-direction: column;
  align-items: center;
  width: 180px;
  margin: 0 10px 20px 0;
  padding: 10px 20px;
  background: #0d2757;
  color: white;
  text-decoration: none;
  border-radius: 5px;
  font-size: 16px;
  justify-content: center;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

/* Sidebar Styling */
.sidebar {
  width: 220px;
  height: 100vh;
  min-height: 100%;
  background-color: #142455; 
  color: white;
  display: flex;
  flex-direction: column;
  padding: 20px 0;
  position: fixed; 
  left: 0;
  overflow-y: auto; 
}
.sidebar ul {
  list-style-type: none;
  padding: 0;
}

.sidebar ul li {
  margin: 15px 0;
}

.sidebar ul li a {
  color: white;
  text-decoration: none;
  padding: 10px 20px;
  display: block;
  transition: background-color 0.3s ease;
}

.sidebar ul li a:hover {
  background-color: #0077b6;
  color: #000000;
  border-radius: 4px;
  transition: background-color 0.3s ease;
}

/* Dashboard */
.dashboard_content {
  margin-left: 250px;
  padding: 20px;
}

.dashboard_section {
  margin-bottom: 60px;
}

.dashboard_section p {
  font-size: 17px;
  color: #010101;
  text-align: center;
  font-weight: bold;
}

.dashboard_section h2 {
  margin-top: 20px;
  margin-bottom: 10px;
  font-size: 22px;
  color: #222;
  border-bottom: 2px solid #ccc;
  padding-bottom: 5px;
}

/* Summary Cards Section */
#summary-section {
  display: flex;
  gap: 20px;
  margin-bottom: 40px;
}

.job_card {
  background: #ffff;
  border: 1px solid #ddd;
  border-radius: 8px;
  padding: 15px;
  width: 100%;
  text-align: center;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
}

.job_card h3 {
  margin: 0 0 10px;
}

/* Applied and Bookmarked Jobs List */
#applied-jobs-list,
#bookmarked-jobs-list {
    list-style: none;
    padding: 0;
    margin-top: 15px;
}

/* bookmarks */
table {
  width: 100%;
  border-collapse: collapse;
  margin: 20px 0;
  font-size: 0.95em;
  font-family: Arial, sans-serif;
  border-radius: 8px;
  overflow: hidden;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
}

th, td {
  text-align: left;
  padding: 10px;
  border-bottom: 1px solid #ddd;
}

tr:nth-child(even) {
  background-color: #f8f9ff;
}

td {
  color: #333;
}

/* Acount Details */
.account-container {
  display: grid;
  grid-template-columns: 1fr 1.4fr;
  justify-content: space-between;
  align-items: center;
  gap: 30px;
  max-width: 1200px;
  margin: 20px auto;
  padding: 30px;
}

.profile-section {
  text-align: center;
}

.profile-pic img {
  border-radius: 50%;
  width: 100px;
  height: 100px;
  margin-bottom: 20px;
}

.form-section {
  display: flex;
  flex-direction: column;
}

.form-section h4 {
  text-align: center;
  margin-bottom: 20px;
}

form {
  display: flex;
  flex-direction: column;
  gap: 2.5px;
}

.form-row {
  display: flex;
  justify-content: space-between;
  gap: 20px;
}

.form-group {
  flex: 1;
  margin-bottom: 15px;
}

label {
  font-size: 14px;
  font-weight: bold;
  color: #333;
}

input,
textarea {
  width: 100%;
  padding: 12px;
  margin: 10px 0;
  border: 1px solid #ccc;
  border-radius: 5px;
}

.edit-button {
  border-radius: 20px;
  background-color: #6200ea;
  color: white;
  cursor: pointer;
  font-size: 16px;
}

.edit-button:hover {
  background-color: #4500b0;
}

/* Account Edit Button */
.edit-button {
  display: inline-block;
  background-color: #0d042c;
  color: #fcfcfd;
  text-decoration: none;
  border: none;
  padding: 12px;
  font-size: 18px;
  border-radius: 5px;
  cursor: pointer;
  margin: 0 10px;
  transition: background-color 0.3s ease;
}

.edit-button:hover {
  background-color: #465664;
  color: #fcfcfd;
}


/* Search Container */
.search-container {
   display: flex;
   justify-content: space-between;
   align-items: center;
   margin-left: 250px;
   padding: 50px 30px;
}

.search-card {
  background: #ffff;
  border: 1px solid #ddd;
  border-radius: 8px;
  padding: 20px;
  width: 100%;
  text-align: center;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
}

.search-card-body {
    flex: 1 1 auto;
    padding: 1rem 1rem;
}

/* Advanced Search */
.advanced_search_collapsible {
  margin-left: auto;
  background-color: #eee;
  color: #444;
  cursor: pointer;
  padding: 15px;
  width: fit-content;
  border: none;
  
  text-align: left;
  outline: none;
  font-size: 16px;
}

/* Add a background color to the button if it is clicked on (add the .active class with JS), and when you move the mouse over it (hover) */
.active, .collapsible:hover {
  background-color: #ccc;
}

/* Style the collapsible content. Note: hidden by default */
.advanced_search_content {
  padding: 0 2px;
  background-color: white;
  max-height: 0;
  overflow: hidden;
  transition: max-height 0.2s ease-out;
}

/* Applied and Bookmarked Jobs */
.jobs_content {
  margin-top: 20px;
  margin-left: 300px;
  margin-right: 50px;
  padding: 0 2px;
  background-color: white;
  max-height: 0;
  transition: max-height 0.2s ease-out;
}

/* Search Button */
.search-button {
  height: 37.5px;
  background-color: #0d6efd;
  color: #fcfcfd;
  text-decoration: none;
  display: flex;
  justify-content: center;
  align-items: center;
  border: none;
  padding: 12px;
  font-size: 16px;
  border-radius: 5px;
  cursor: pointer;
  margin-top: 10px;
  transition: background-color 0.3s ease;
}

/* Job Status */
.status {
    padding: 5px 10px;
    border-radius: 5px;
    color: #fff;
    font-weight: bold;
    display: inline-block;
    text-align: center;
}

.status.on-hold {
    background-color: #ffc107; /* Yellow */
    color: #000;
}

.status.rejected {
    background-color: #dc3545; /* Red */
}

.status.accepted {
    background-color: #28a745; /* Green */
}

/* Advanced Search Filters */
.advanced-search-form-select {
    display: block;
    margin-top: 10px;
    height: 37.5px;
    width: fit-content;
    padding: 0.375rem 2.25rem 0.375rem 0.75rem;
    font-size: 1rem;
    font-weight: 400;
    line-height: 1.5;
    color: #212529;
    background-color: #fff;
    background-clip: padding-box;
    border: 1px solid #ced4da;
    border-radius: 0.375rem;
    transition: border-color 0.15s ease-in-out, box-shadow 0.15s ease-in-out;
}

.advanced-search-form-select:focus {
    border-color: #86b7fe;
    outline: 0;
    box-shadow: 0 0 0 0.25rem rgba(13, 110, 253, 0.25);
}

.advanced-search-form-select[multiple], .form-select[size]:not([size="1"]) {
    padding-right: 0.75rem;
    background-image: none;
}

.advanced-search-form-select:disabled {
    background-color: #e9ecef;
    color: #6c757d;
}

.remove-button {
  height: 37.5px;
  background-color: #dc3545;
  color: #fcfcfd;
  text-decoration: none;
  display: flex;
  justify-content: center;
  align-items: center;
  border: none;
  padding: 12px;
  font-size: 16px;
  border-radius: 5px;
  cursor: pointer;
  margin-top: 10px;
  transition: background-color 0.3s ease;
}

.job-container {
    width: 100%;
    max-width: 1140px; /* Adjust this value for your desired container width */
    margin-left: 250px;
    margin-right: auto;
    padding-left: 15px;
    padding-right: 15px;
}

.mt-5 {
    margin-top: 3rem; /* Adjust this value for your preferred spacing */
}

.candidates-container {
    width: 100%;
    max-width: 1140px; /* Adjust this value for your desired container width */
    margin-left: 250px;
    margin-right: auto;
    padding-left: 15px;
    padding-right: 15px;
}

/* Main Content Styling */
main.search-container {
  margin-left: 250px;
  padding: 20px;
  box-sizing: border-box;
  display: flex;
  flex-direction: column;
}

/* Search Form Styling */
.search-form {
  display: flex; /* Align items in one row */
  flex-direction: row;
  align-items: center;
  justify-content: flex-start;
  width: 100%;
  /* gap: 10px; Space between elements */
  margin-bottom: 15px;
}

/* Dropdown (Select) Styling */
.search-form .search-select {
  font-size: 14px;
  border: 1px solid #ccc;
  border-radius: 5px;
  background-color: #f9fafc;
  cursor: pointer;
  padding: 10px;
  width: fit-content; 
  margin-bottom: 0;
}

/* Search Input Styling */
.search-form .search-input {
  padding: 10px;
  border: 1px solid #ccc;
  border-radius: 5px;
  margin: 0; /* Remove extra margin */
}

/* Search Button Styling */
.search-form .search-button {
  background-color: #007bff;
  color: white;
  border: none;
  font-size: 15px;
  border-radius: 5px;
  cursor: pointer;
  white-space: nowrap;
  padding: 20px 15px;
  margin-top: 0;
}

.search-form .search-button:hover {
  background-color: #0056b3;
}


/* Filtered Section Styling */
.filtered-section {
  width: 100%;
  overflow-x: auto; /* Handles table overflow */
  background: #fff;
  border-radius: 5px;
}

.filtered-section table {
  width: 100%;
  border-collapse: collapse;
}

.filtered-section th,
.filtered-section td {
  text-align: left;
  padding: 12px 15px;
  border-bottom: 1px solid #ddd;
}

.filtered-section th {
  background-color: #f4f6f9;
  font-weight: bold;
}

.filtered-section tr:hover {
  background-color: #f9fafc;
}

